@keyframes slideIn {
  from {
    transform: translateY(90%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.display {
    margin-top: 20px;
    animation: slideIn 0.3s ease; 
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
  }
  .indicator {
    margin-left: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    color: #333;
    text-align: right;
    font-weight: bold;
  }
  
  .indicator.red {
    background-color: #ff6666;
  }
  
  .indicator.yellow {
    background-color: #ffff66;
  }
  
  .indicator.green {
    background-color: #66ff66;
  }
  .stat {
    margin-top: 15px;
    min-width: 160px;
    flex: 1 1 calc(33.33% - 10px); 
    flex-direction: row-reverse;
    margin-right: 10px;
  }

  @media only screen and (max-width: 760px) {
    .stat{
      flex: 1 1 calc(100% - 10px);
      display: flex;
    }
  }

  .statText {
    margin-right: 10px; 
    white-space: nowrap; 
}

.statIndicator {
    display: flex;
    align-items: center;
}