@keyframes slideIn {
  from {
    transform: translateY(90%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.match {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #3F3E3D;
    animation: slideIn 0.3s ease; 
  }

  .stat{
    display: flex;
  
  }