@keyframes slideIn {
  from {
    transform: translateY(90%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.page{
  animation: slideIn 0.3s ease; 
    margin-top: 20px;
  }

.sidebar{
    display: flex;
    flex-direction: column;
}

