.result {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  align-items: center;
    margin: 20px;
  }
  
  .winner,
.looser  {
  width: 10%; /* Пример: уменьшение ширины до 20% */
  height: auto;
  margin: 0 10px;
}

  
  .score {
    font-size: 90px;
    font-weight: bold;
  }

  .maps {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 20px;
  }
  
  .map {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #1f1f1f;
    margin-bottom: 20px;
  }
  
  .map h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  @media only screen and (max-width: 760px) {
    .map h2{
      font-size: 15px;
    }
    .map{
      font-size: 10px;
    }
  }