.block{
    float: right;
    padding: 10px;
    background-color: #3F3E3D;
    border-radius: 5px;
    margin: 20px;
}
.block{
    float: left;
    width: 80%;
  }

@media only screen and (max-width: 1650px) {
    .block {
        width: 57%; /* Убираем float на мобильных устройствах */
    }
  }