@keyframes slideIn {
  from {
    transform: translateY(90%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.page {
  animation: slideIn 0.3s ease; 
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  }